:root{
    --primary: #196398;
    --second: #CDAC12;
    --ligth : #ffffff;
    --grey: #efefef;
    --alert:  indianred;
}

.body-home{
    overflow: hidden;
    font-family: 'Muli',sans-serif;
    font-weight: 300;
    color: var(--primary);
}
a:hover{
    text-decoration: none;
}
/*@over botstrap styles*/
.bg-primary{background-color: var(--primary) !important;}
.bg-secondary{background-color: var(--second) !important}
.bg-light{background-color: var(--ligth) !important;}
.bg-mix{background: linear-gradient(180deg,var(--ligth)50%,var(--grey));}
.bg-grey{background-color: var(--grey) !important;}
.my-5 { margin-top: 0rem!important;}
.spinner-grow { width: 1rem; height: 1rem;}
.label_mje{color: var(--alert);}

.text-primary{
    color: var(--primary) !important;
}

.text-secondary{
    color: var(--second) !important;
}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .5;
    background: rgba(32, 124, 229, 0);
    background: -moz-linear-gradient(0deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, #f048bb 100%);
    background: -webkit-linear-gradient(0deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, var(--primary) 100%);
    background: -o-linear-gradient(0deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, var(--primary) 100%);
    background: -ms-linear-gradient(0deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 55%, var(--primary) 100%);
    background: linear-gradient(0deg, rgba(32, 124, 229, 0) 0%, rgba(146, 95, 206, 0) 50%, var(--primary) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#f048bb', GradientType=1 );
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--primary);
    font-weight: 500;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: var(--second);
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover, .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:focus {
    color: var(--second);
}

.img_bk{
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
