:root{
    --primary: #196398;
    --second: #CDAC12;
    --ligth : #ffffff;
    --grey: #efefef;
    --alert:  indianred;
}

.body-home{
    overflow: hidden;
    font-family: 'Muli',sans-serif;
    font-weight: 300;
    color: var(--primary);
    background-color: var(--grey);
}

a:hover{
    text-decoration: none;
}
/*@over botstrap styles*/
.bg-primary{background-color: var(--primary) !important;}
.bg-light{background-color: var(--ligth) !important;}
.bg-mix{background: linear-gradient(180deg,var(--ligth)50%,var(--grey));}
.bg-grey{background-color: var(--grey) !important;}
.my-5 { margin-top: 0rem!important;}
.spinner-grow { width: 1rem; height: 1rem;}
.label_mje{color: var(--alert);}
.text-primary{
    color: var(--primary) !important;
}
.text-secondary{
    color: var(--second) !important;
}

.text-light {
    color: var(--ligth) !important;
}

.btn{
    /* border: 2em !important; */
    max-width: 200px !important;
    min-width: auto;
    
}
.btn-primary{
    background-color: var(--primary) !important;
}

.btn-primary:hover{
    background-color: var(--second) !important;
}

#sidebar-container{
    min-width: 175px;
    min-height: 100vh;
    background-color: var(--ligth);
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#sidebar-container .menu{
    width: AUTO;
}

.btn-search{
    right: 5px;
}

.avatar{
    max-width: 35px;
}

.estadisticas{
    border: 0;
}

.img-preview{
    max-height: 300px;
    width: auto;
}
.pie{
    margin-top: -2rem;
    margin-bottom: 1rem;
    font-size: x-small;
    padding-left: 10%;
    padding-right: 10%;
}
.menu_icons {
    font-size: 2rem !important;
}

.bg_second{
    background-color: var(--second)!important;
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom:  5rem;
}

.stat{
    border-right: 1px solid var(--grey);
}

.paleta{
    color: rgb(233, 233, 233) !important;
    font-size: 64px !important;
    bottom: 0;
    right: 5px;
    margin-bottom: 2rem;
}

.label_info{
    font-weight: bold;
    font-size: larger;
    color: dimgrey;
}

.table-content{
    background: var(--ligth);
}

.menuDesk:hover {
    background-color: var(--primary);
    color: var(--ligth) !important;
  }

@media(max-width: 768px)
{
    #sidebar-container, .menu-perfil, .bnt-grid{
        display: none;
    }
    .stat{
        border:0;
    }
    .btn-search {
        top: 5px;
        right: 5px;
    }
    .mx-auto {
        margin-left: inherit !important;
    }
    .navbar 
    {
        overflow-y: auto !important;
    }
}

.footer-login {
    position: relative;
    bottom: 0;
    width: 100%;
  }

.modal-body{
    padding: 2rem !important;
}
/*ESTILOS LOGIN*/
.body-login {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: var(--ligth);
    background-repeat: no-repeat;
}

.card0 {
    box-shadow: 0px 4px 8px 0px var(--grey);
    border-radius: 0px;
}

.card2 {
    margin: 0px 40px;
}

.logo-login {
    width: 300px;
    height: auto;
    margin-top: auto;
    margin-left: auto;
}

.image-login {
    width: 460px;
    height: auto;
}

.border-line {
    border-right: 1px solid #EEEEEE;
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
}

.text-sm {
    font-size: 14px !important;
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--ligth);
    background: var(--ligth);
    border-left-width: 5px;
    border-radius: 3px;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout code {
    border-radius: 3px;
}
.callout + .bs-callout {
    margin-top: -5px;
}

.callout-default {
    border-left-color: #777;
}
.callout-default h4 {
    color: #777;
}

.callout-primary {
    border-left-color: var(--primary);
}
.callout-primary h4 {
    color: var(--primary);
}
.callout-second {
    border-left-color: var(--second);
}
.callout-second h4 {
    color: var(--second);
}
.callout-success {
    border-left-color: #5cb85c;
}
.callout-success h4 {
    color: #5cb85c;
}

.callout-danger {
    border-left-color: #d9534f;
}
.callout-danger h4 {
    color: #d9534f;
}

.callout-warning {
    border-left-color: #f0ad4e;
}
.callout-warning h4 {
    color: #f0ad4e;
}

.callout-info {
    border-left-color: #5bc0de;
}
.callout-info h4 {
    color: #5bc0de;
}

.callout-bdc {
    border-left-color: #29527a;
}
.callout-bdc h4 {
    color: #29527a;
}

.loading_save{
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 0;
}

  /*Para version mobile*/
@media screen and (max-width: 991px) 
{
    .logo-login {
        width: 250px;
    }
    .image-login {
        width: 100%;
        height: auto;
    }

    .border-line {
        border-right: none;
    }

    .pb-5, .py-5 {
        padding-bottom: 0rem!important;
    }
    .pt-4, .py-4 {
        padding-top: 0rem!important;
    }
    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
    }

    .row-login {
        display: block;
    }

    .posicion-btn{
        margin-left: auto;
        position: absolute !important;
    }
}

.pt-3, .py-3 {
    padding-bottom: 0!important;
    padding-top: 2rem!important;
}

.h3, h3 {
    font-size: 1.5rem;
}

.img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .7;
    background:#000000;
    z-index: -1;
}

.img {
    padding: 3em;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.col-hora, .col-dia{
    width: 10%;
}
.col-accion{
    width: 20%;
}


/*ESTILOS DEL FORM NUEVO CON BOLITAS*/
.card0 {
    background-color: #F5F5F5;
    border-radius: 8px;
    z-index: 0
}

.card00 {
    z-index: 0
}

.card1 {
    margin-left: 140px;
    z-index: 0;
    border-right: 1px solid #F5F5F5
}

.card2 {
    display: none
}

.card2.show {
    display: block
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--primary);
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.form-control-placeholder {
    position: absolute;
    top: 0px;
    padding: 12px 2px 0 2px;
    transition: all 300ms;
    opacity: 0.5
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 95%;
    top: 10px;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background-color: var(--grey);
}

.next-button {
    width: 18%;
    height: auto;
    background-color: var(--primary);
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer
}

.next-button:hover {
    background-color: var(--second);
    color: #fff
}

.get-bonus {
    margin-left: 154px
}

.pic {
    width: 230px;
    height: 110px
}

#progressbar {
    position: absolute;
    left: 35px;
    overflow: hidden;
    color: var(--primary);
}

#progressbar li {
    list-style-type: none;
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 36px
}

#progressbar li:nth-child(3) {
    margin-bottom: 88px
}

#progressbar .step0:before {
    content: "";
    color: #fff
}

#progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 20px;
    background: #fff;
    border: 2px solid var(--grey);
    border-radius: 50%;
    margin: auto
}

#progressbar li:last-child:before {
    width: 40px;
    height: 40px
}

#progressbar li:after {
    content: '';
    width: 3px;
    height: 66px;
    background: #BDBDBD;
    position: absolute;
    left: 58px;
    top: 15px;
    z-index: -1
}

#progressbar li:last-child:after {
    top: 147px;
    height: 132px
}

#progressbar li:nth-child(3):after {
    top: 81px
}

#progressbar li:nth-child(2):after {
    top: 0px
}

#progressbar li:first-child:after {
    position: absolute;
    top: -81px
}

#progressbar li.active:after {
    background: var(--primary);
}

#progressbar li.active:before {
    background: var(--primary);
    font-family: FontAwesome;
    /*content: "x";*/
}

.tick {
    width: 100px;
    height: 100px
}

.prev {
    display: block;
    position: absolute;
    left: 40px;
    top: 20px;
    cursor: pointer
}

.prev:hover {
    color: var(--primary) !important
}

@media screen and (max-width: 912px) {
    .card00 {
        padding-top: 30px
    }

    .card1 {
        border: none;
        margin-left: 50px
    }

    .card2 {
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 25px
    }

    .social {
        height: 30px;
        width: 30px;
        font-size: 15px;
        padding-top: 8px;
        margin-top: 7px
    }

    .get-bonus {
        margin-top: 40px !important;
        margin-left: 75px
    }

    #progressbar {
        left: -25px
    }

    .next-button {
        width: 100%;
        height: 50px;
    }
}


/* END ESTILOS DEL FORM NUEVO CON BOLITAS*/

.form-check {
    display: flex;
    padding-left: 1.5em;
}


/*Style Pulse effect*/
/*USE
	<div class="blob white"></div>
	<div class="blob red"></div>
	<div class="blob orange"></div>
	<div class="blob yellow"></div>
	<div class="blob blue"></div>
	<div class="blob green"></div>
	<div class="blob purple"></div>
	<div class="blob"></div>
	*/
.blob {
    position: relative;
    top: 25px;
    left: 25px;
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.blob.white {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.blob.orange {
    background: rgba(255, 121, 63, 1);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
    animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
}

.blob.yellow {
    background: rgba(255, 177, 66, 1);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
    animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    }
}

.blob.blue {
    background: rgba(52, 172, 224, 1);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

.blob.green {
    background: rgba(51, 217, 178, 1);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

.blob.purple {
    background: rgba(142, 68, 173, 1);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
    animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
    }
}

/* end pulse efect*/
